/*
 ----------------------------- 
 PVII Drop Menu Magic
 by Project Seven Development
 www.projectseven.com
 Theme 10: Vanilla
 -----------------------------
*/
.p7DMM10 {
	background-color: #111;
	background: rgba(0,0,0,.92);
	position: relative;
}
.p7DMM10:after {
	content: "";
	display: table;
	clear: both;
}
.p7DMM10.p7dmm-centered, .p7dmm-fixed {
	text-align: center;
}
.p7DMM10.p7dmm-right {
	text-align: right;
}
.p7DMM10 ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.p7DMM10 ul li {
	list-style-type: none;
	float: left;
	padding: 0px 0px;
}
.p7DMM10 ul li:last-child {
	margin-right: 0px;
}
.p7DMM10 ul a {
	color: #FFFFFF;
	font-size: 1em;
	padding: 10px 12px;
	text-decoration: none;
	display: block;
	-webkit-transition: all linear .35s .1s;
	transition: all linear .35s .1s;
	-webkit-transition-property: background-color, box-shadow, border-color;
	transition-property: background-color, box-shadow, border-color;
}
.p7DMM10 ul a:hover, .p7DMM10 ul a.open {
	outline: none;
	color: #FFFFFF;
	box-shadow: inset 0px 12px 8px rgba(255,255,255,.2);
	background-color: #E6686B;
}
/*Arrows*/
.p7DMM10 ul a.trig {
	background-image: url(img/p7dmm_east_white.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 10px 12px 10px 22px;
}
.p7DMM10 ul a.open.trig {
	background-image: url(img/p7dmm_south_white.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7dmm-sub-wrapper {
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0px;
	display: none;
	margin-top: 0px;
}
.p7DMM10 ul ul {
	margin: 0px;
	display: inline-block;
	padding: 0px;
	vertical-align: bottom;
}
.p7DMM10 ul ul li {
	padding: 8px 0px;
}
.p7DMM10 ul ul a {
	background-color: rgba(255,255,255,.5);
	border-color: #FFF;
	box-shadow: none;
	font-size: 0.8em;
	padding: 8px 10px;
	box-shadow: inset 0px 0px 8px rgba(255,255,255,.15);
	color: #000;
}
.p7DMM10 ul ul a:hover {
	background-color: rgba(255,255,255,0.6);
	border-color: #EEE;
	color: #000000;
	box-shadow: inset 0px 12px 20px rgba(123,164,193,.2);
}
/*By default the current-marked root link is in the open state. 
This rule can be used if you would like to further differentiate the current-marked root link.*/

/*Current Marked Sub-menu Link*/
.p7DMM10 ul ul a.current_mark {
	font-weight: bold;
}
/*Toolbar for Smartphones to Hide or Show entire menu*/
.p7DMM-toolbar {
	display: none;
}
/*Vertical Accordion Menu*/
.p7DMM10.dmm-vertical {
	box-shadow: none;
	border-bottom: none;
}
.p7DMM10.dmm-vertical ul, .p7DMM10.dmm-vertical ul ul {
	display: block;
	padding: 0px;
	margin: 0px;
}
.p7DMM10.dmm-vertical ul ul {
	border-radius: 0px 0px 5px 5px;
	background-color: #999;
}
.p7DMM10.dmm-vertical ul li, .p7DMM10.dmm-vertical ul ul li {
	float: none;
	display: block;
	padding: 0px;
	margin-right: 0px !important;
}
.p7DMM10.dmm-vertical ul li {
	margin-bottom: 8px;
}
.p7DMM10.dmm-vertical ul li:last-child {
	margin-bottom: 0px;
}
.p7DMM10.dmm-vertical ul ul li {
	margin-bottom: 0px;
}
.p7DMM10.dmm-vertical ul a {
	padding: 8px 18px;
}
.p7DMM10.dmm-vertical ul a.open {
	border-radius: 5px 5px 0px 0px;
}
.p7DMM10.dmm-vertical ul ul a {
	border-top: none;
	border-radius: 0px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #000;
	background-color: #454545;
	color: #FFF;
	font-size: .9em;
}
.p7DMM10.dmm-vertical ul ul li:last-child a {
	border-radius: 0px 0px 4px 4px;
}
.p7DMM10.dmm-vertical ul ul a:hover {
	background-color: #FF9900;
	color: #000000;
}
.p7DMM10.dmm-vertical .p7dmm-sub-wrapper {
	width: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
	top: 0px;
}
/*POP MENU MODE*/
.p7DMM10.dmm10-pop .p7dmm-sub-wrapper {
	text-align: left;
	padding-bottom: 30px;
	padding-right: 30px;
	width: auto;
	left: auto;
	display: none;
	z-index: 99;
}
.p7DMM10.dmm10-pop ul ul {
	background-color: #E6686B;
	border-radius: 0px 0px 6px 6px;
}
.p7DMM10.dmm10-pop ul ul li {
	padding: 0px;
	float: none;
	margin: 0px;
}
.p7DMM10.dmm10-pop ul ul a {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0px;
	font-size: 0.8em;
	padding: 8px 20px;
	box-shadow: none;
	color: #000;
	border: none;
}
.p7DMM10.dmm10-pop ul ul li:last-child a {
	border-radius: 0px 0px 4px 4px;
}
.p7DMM10.dmm10-pop ul ul a:hover {
	color: #FFF;
	background-color: #999;/*box-shadow: none;*/
}
/*By default the current-marked root link is in the open state. 
This rule can be used if you would like to further differentiate the current-marked root link.*/

/*Current Marked Sub-menu Link*/
.p7DMM10.dmm10-pop a.current_mark {
	font-weight: bold;
}

/*Smartphone Menu Presentation*/
@media only screen and (min-width: 0px) and (max-width: 700px) {
.p7DMM10.responsive {
	padding: 0px;
	margin: 0px;
}
.p7DMM10.responsive ul li {
	margin: 0px;
	padding: 0px;
}
.p7DMM10.responsive ul, .p7DMM10.responsive ul ul {
	display: block;
	padding: 0px;
	margin: 0px;
}
.p7DMM10.responsive ul li, .p7DMM10.responsive ul ul li {
	float: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
.p7DMM10.responsive ul li a, .p7DMM10.dmm-vertical ul li a {
	border: none;
	border-radius: 0px;
	padding: 8px 18px;
}
.p7DMM10.responsive ul li:last-child a {
	border-bottom: none;
}
.p7DMM10.dmm-vertical ul ul li a {
	border-bottom: 1px solid #000 !important;
}
.p7DMM10.responsive .p7dmm-sub-wrapper {
	width: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
	top: 0px;
}
/*Toolbar for Smartphones to Hide or Show entire menu*/
.p7DMM10.responsive .p7DMM-toolbar, .p7DMM10.dmm-vertical .p7DMM-toolbar {
	position: relative;
	z-index: 999;
	display: block;
	background-color: #222;
	text-align: right;
	padding: 6px;
	cursor: pointer;
}
.p7DMM10.dmm-vertical .p7DMM-toolbar {
	background-color: #222222 !important;
	border-radius: 5px 5px 0px 0px;
}
.p7DMM10.responsive .p7DMM-toolbar.closed a:before {
	/*content: "Show Menu";*/
}
.p7DMM10.responsive .p7DMM-toolbar.opened a:before {
	/*content: "Hide Menu";*/
}
.p7DMM.responsive ul.closed {
	display: none;
}
.p7DMM.responsive ul.opened {
	display: block;
}
.p7DMM10.responsive .p7DMM-toolbar img, .p7DMM10.dmm-vertical .p7DMM-toolbar img {
	border: none;
	padding-left: 16px;
}
.p7DMM10.responsive .p7DMM-toolbar a, .p7DMM10.dmm-vertical .p7DMM-toolbar a {
	color: #999;
	text-transform: uppercase;
	font-size: .8em;
	background-color: transparent !important;
	border: none !important;
	text-decoration: underline;
}
.p7DMM10.responsive .p7DMM-toolbar.closed a, .p7DMM10.dmm-vertical .p7DMM-toolbar.closed a {
	color: #EEE;
}
.p7DMM10.responsive .p7DMM-toolbar img, .p7DMM10.dmm-vertical .p7DMM-toolbar img {
	opacity: .5;
}
.p7DMM10.responsive .p7DMM-toolbar:hover img, .p7DMM10.dmm-vertical .p7DMM-toolbar:hover img {
	opacity: .85;
}
.p7DMM10.responsive .p7DMM-toolbar:hover a, .p7DMM10.dmm-vertical .p7DMM-toolbar:hover a {
	color: #EEE;
}
.p7DMM10.responsive .p7DMM-toolbar.closed img, .p7DMM10.dmm-vertical .p7DMM-toolbar.closed img {
	opacity: 1;
}
.p7DMM10.responsive .p7DMM-toolbar.closed:hover, .p7DMM10.dmm-vertical .p7DMM-toolbar.closed:hover {
	background-color: #000;
}
.p7DMM10.dmm-vertical * {
	border-radius: 0px !important;
}
.p7DMM10.dmm10-pop .p7dmm-sub-wrapper {
	padding-bottom: 0px;
	padding-right: 0px;
	width: 100%;
}
.p7dmm-fixed {
	max-height: 100% !important;
	overflow-y: auto;
	background: none !important;
	text-align: left !important;
}
.p7dmm-fixed ul {
	width: 80%;
	background-color: #111;
	background: rgba(0,0,0,.92);
	border-radius: 0px 0px 6px 0px;
}
.p7dmm-fixed ul ul {
	width: 100%;
	border-radius: 0px;
	padding-left: 12px !important;
}
.p7DMM10 ul a {
	color: #AAA;
}
.p7DMM10 ul a:hover, .p7DMM10 ul a.open {
	border: none !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
.p7dmm-fixed .p7DMM-toolbar {
	background-color: rgba(0,0,0,.95) !important;
	border: none !important;
	border-radius: 0px 0px 0px 0px;
}
/*END MEDIA QUERY - DO NOT REMOVE CURLY BRACE BELOW*/
}

/*Smartphone All */
@media only screen and (max-device-width: 480px) {
.p7dmm-fixed {
	max-height: 100% !important;
	overflow-y: auto;
}
}

/*Exception rules for Smartphones in Landscape orientation only*/
@media only screen and (max-device-width: 480px) and (orientation : landscape) {
.p7DMM10.responsive ul a {
	font-size: 80%;
	padding: .35em .75em;
}
.p7DMM10.responsive ul ul a {
	font-size: 80%;
	padding: .3em 1em;
}
/*END MEDIA QUERY - DO NOT REMOVE CURLY BRACE BELOW*/
}
