@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

	@mixin color-icon($p: null) {
		.icon {
			color: _palette($p, fg-light);
		}
	}

	@include color-icon;