/* 
  -----------------------------------
  Pop Menu Magic 3
  by Project Seven Development
  www.projectseven.com
  Style Theme: 03 - Greystone
  -----------------------------------
*/

/*Preparation for Affinity Core Theme
Use these rules to prepare your Affinity page for use with PMM3
.top-navigation .menu-top-wrapper .p7PM3-03 {
	border-bottom: none;
	box-shadow: none !important;
	background: none !important;
}
.top-navigation {
	background: linear-gradient(90deg, #C0C0C0, #A2A2A2);
	background-color: #BBB;
}
/*END: Affinity Prep Rules*/

.p7PM3-03 {
	font-family: "Arial Narrow", Arial, sans-serif;
	font-stretch: condensed;
	font-size: 18px;
	background: linear-gradient(90deg, #C0C0C0, #A2A2A2);
	background-color: #BBB;
	border-bottom: 1px solid #000;
	line-height: 1;
	-webkit-transform-style: preserve-3d;
}
.p7PM3-03.horiz {
	padding: 0px 8px;
}
.pmm3-toolbar {
	display: none;
}
.p7PM3-03.rounded {
	border-radius: 0px 0px 0px 0px;
}
.p7PM3-03.shadows {
	border-bottom-color: #FFF;
	box-shadow: 0px 0px 40px rgba(0,0,0,.25);
}
.p7PM3-03 a img {
	border: none;
}
.p7PM3-03.menu-centered {
	text-align: center;
}
.p7PM3-03.menu-right {
	text-align: right;
}
.p7PM3-03:after {
	content: "\0020";
	clear: both;
	font-size: 0px;
	line-height: 0;
	display: inline;
	height: 0px;
}
.p7PM3-03 ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.p7PM3-03 ul li {
	list-style-type: none;
	float: left;
	position: relative;
	margin: 0px;
}
.p7PM3-03 ul li a {
	display: block;
	padding: 12px 18px;
	color: #000;
	text-decoration: none;
	background-repeat: no-repeat !important;
	background-position: left center !important;
}

.p7PM3-03 ul li a.trig_closed {
	background-image: url(img/pmm3-right-dark.gif);
}
.p7PM3-03 ul ul li a.trig_closed {
	background-image: url(img/pmm3-right-medium.gif);
}
.p7PM3-03 ul li a.trig_open {
	background-color: #222;
	background: url(img/pmm3-down-medium.gif), linear-gradient(180deg, #000 30%, #222);
	color: #DDD;
}
.p7PM3-03 ul ul li a.trig_open {
	background: url(img/pmm3-down-medium.gif), linear-gradient(90deg, #333 70%, #000);
}

.p7PM3-03 ul li a.pm3-link:hover {
	background: none, linear-gradient(180deg, #000 30%, #222);
	color: #DDD;
}
.p7PM3-03 ul ul li a {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.3);
	color: #AAA;
	font-size: .9em;
}
.p7PM3-03 ul ul li a.pm3-link:hover {
	background: none, linear-gradient(90deg, #333 70%, #000);
	color: #DDD;
}

.p7PM3-03 ul ul {
	background-color: #111;
	background: linear-gradient(180deg, #222 60%, #151515);
	display: block;
	text-align: left;
	width: 200px;
}
.p7PM3-03.transparent ul ul {
	background: linear-gradient(180deg, rgba(34,34,34,1), rgba(0,0,0,.88));
}
.p7PM3-03.shadows ul ul {
	box-shadow: 10px 10px 30px rgba(0,0,0,.35);
}
.p7PM3-03 ul ul div {
	z-index: 10;
}
.p7PM3-03.auto-subs ul ul {
	width: auto;
}
.p7PM3-03.auto-subs ul ul li a {
	white-space: nowrap;
}
.p7PM3-03 ul ul li {
	position: relative;
	float: none;
	margin: 0px;
	padding: 0px;
}
.p7PM3-03 ul ul li:last-child a {
	border-bottom: none;
}

/*ROUNDED CORNERS OPTION - Sub-Center Bias*/
.p7PM3-03.rounded ul ul {
	border-radius: 0px 0px 5px 5px;
}
.p7PM3-03.rounded ul ul ul {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-03.rounded.justified ul li.pm3first ul.level_2,
.p7PM3-03.rounded.sub-left ul ul {
	border-top-left-radius: 0px;
}
.p7PM3-03.rounded.sub-left ul ul ul {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.p7PM3-03.rounded.justified ul li.pm3last ul.level_2 {
	border-top-right-radius: 0px;
}
.p7PM3-03.rounded ul ul ul a.pm3first,
.p7PM3-03.rounded ul ul ul .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px;
}
.p7PM3-03.rounded.sub-centered.justified ul li.pm3first ul.level_2 a.pm3first,
.p7PM3-03.rounded.sub-right.justified .pm3first .level_2 a.pm3first,
.p7PM3-03.rounded.sub-left ul.level_2 a.pm3first {
	border-top-left-radius: 0px;
}
.p7PM3-03.rounded.sub-left ul.level_3 a.pm3first,
.p7PM3-03.rounded.sub-right.justified .pm3first .level_2 ul a.pm3first {
	border-top-left-radius: 5px;
}
.p7PM3-03.rounded.justified ul li.pm3last ul.level_2 a.pm3first,
.p7PM3-03.rounded.sub-right ul.level_2,
.p7PM3-03.rounded.sub-right ul.level_2 a.pm3first {
	border-top-right-radius: 0px;
}
.p7PM3-03.rounded.sub-right ul.level_2 ul,
.p7PM3-03.rounded.sub-right ul.level_2 ul a.pm3first {
	border-top-right-radius: 5px;
}
.p7PM3-03.rounded.sub-right.justified .pm3first .level_2 ul,
.p7PM3-03.rounded.sub-right.justified .pm3first .level_2 ul a.pm3first {
	border-top-right-radius: 5px;
}
.p7PM3-03.rounded ul ul a.pm3last,
.p7PM3-03.rounded ul ul .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px;
}
.p7PM3-03.rounded ul ul a.pm3first.pm3last {
	border-radius: 5px 5px 5px 5px;
}

/*Menu Up Rounded Exceptions*/
.p7PM3-03.rounded ul a.root_trig.trig_up {
	border-radius: 0px;
}
.p7PM3-03.rounded li.trig_up div {
	padding-bottom: 10px;
}
.p7PM3-03.rounded .trig_up ul a.pm3first {
	border-radius: 5px 5px 5px 5px !important;
}
.p7PM3-03.rounded ul li.trig_up ul {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-03.rounded .trig_up .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px !important;
}
.p7PM3-03.rounded .trig_up .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px !important;
}
.p7PM3-03.vert.rounded {
	border-radius: 5px !important;
}
.p7PM3-03.vert.rounded a.root_trig {
	border-radius: 0px !important;
}
.p7PM3-03.vert.rounded ul a.pm3first {
	border-radius: 5px 5px 0px 0px !important;
}
.p7PM3-03.vert.rounded ul a.pm3last {
	border-radius: 0px 0px 5px 5px !important;
}
.p7PM3-03.vert.rounded ul a.pm3first.pm3last {
	border-radius: 5px !important;
}
.p7PM3-03.vert.rounded ul {
	border-radius: 5px;
}

/*DISPLAY AS TITLE ONLY*/
.p7PM3-03 li.pmm3-title-bar,
.p7PM3-03.vert li.pmm3-title-bar {
	padding: 12px 18px;
	color: #DDD;
	background-color: #666;
	border-radius: 0px;
}
.p7PM3-03.auto-subs ul ul .pmm3-title-bar {
	white-space: nowrap;
}
.p7PM3-03.rounded ul ul li:last-child.pmm3-title-bar {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.p7PM3-03.rounded ul ul li:first-child.pmm3-title-bar {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*IMAGE LINKS*/
.p7PM3-03 .p7PM3_img {
	border: none;
	padding: 0px;
	text-align: center;
	background: none !important;
}
.p7PM3-03 .p7PM3_img img {
	border: none;
	width: auto !important;
	height: auto !important;
	max-width: 100%;
	vertical-align: bottom;
}

/*VERTICAL MODE */
.p7PM3-03.vert {
	border: none;
}
.p7PM3-03.vert ul {
	display: block;
}
.p7PM3-03.vert ul li {
	float: none;
	padding: 0px;
	position: relative;
}
.p7PM3-03.vert ul li a.trig_open {
	color: #EEE;
	background: url(img/pmm3-down-medium.gif), linear-gradient(90deg, #222 70%, #000);
}
.p7PM3-03.vert.rounded {
	border-radius: 5px;
}
.p7PM3-03.vert.rounded ul ul {
	border-radius: 5px;
}
.p7PM3-03.vert ul ul li {
	padding: 0px;
	margin: 0px;
}
/*CURRENT MARK */
.p7PM3-03 ul li a.current_mark {
	text-shadow: -.5px 0px 0px #000;
}
.p7PM3-03 ul ul li a.current_mark {
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
}
.p7PM3-03.vert ul li a.current_mark {
	font-weight: bold;
	text-shadow: none;
}

/*
NO-SCRIPT RULES
The following rules enable your menu to work even when javascript is disabled in the browser
*/
.p7PM3-03.p7PM3noscript {
	position: relative;
}
.p7PM3-03.p7PM3noscript ul ul {
	position: absolute;
	display: none;
	top: 100%;
}
.p7PM3-03.p7PM3noscript ul ul ul {
	display: none;
	top: 0px;
	left: 100%;
}
.p7PM3-03.vert.p7PM3noscript ul ul {
	top: 0px;
	left: 100%;
}
.p7PM3-03.p7PM3noscript li:hover ul {
	display: block;
}
.p7PM3-03.p7PM3noscript li:hover ul ul, .p7PM3-03.p7PM3noscript li:hover ul ul ul, .p7PM3-03.p7PM3noscript li:hover ul ul ul ul, .p7PM3-03.p7PM3noscript li:hover ul ul ul ul ul, .p7PM3-03.p7PM3noscript li:hover ul ul ul ul ul ul {
	display: none;
}
.p7PM3-03.p7PM3noscript li li:hover ul, .p7PM3-03.p7PM3noscript li li li:hover ul, .p7PM3-03.p7PM3noscript li li li li:hover ul, .p7PM3-03.p7PM3noscript li li li li li:hover ul, .p7PM3-03.p7PM3noscript li li li li li li:hover ul {
	display: block;
}

/*BREADCRUMBS*/
.p7PM3-03_crumbs.centered {
	text-align: center;
}
.p7PM3-03_crumbs.right {
	text-align: right;
}
.p7PM3-03_crumbs ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-size: 1em;
	display: inline-block;
}
.p7PM3-03_crumbs li {
	list-style-type: none;
	display: block;
	float: left;
	margin-right: .25em;
}
.p7PM3-03_crumbs a {
	text-decoration: none;
	color: #000;
}
.p7PM3-03_crumbs a:hover {
	text-decoration: underline;
}
.p7PM3-03_crumbs li:last-child {
	margin-right: 0px;
	font-weight: bold;
}
.p7PM3-03_crumbs.thick-arrow li:after {
    content: "\0020 \0020 \27A7";
}
.p7PM3-03_crumbs.thin-arrow li:after {
    content: "\0020 \0020 \279F";
}
.p7PM3-03_crumbs.open-arrow li:after {
    content: "\0020 \0020 \21E8";
}
.p7PM3-03_crumbs.triangle-dots li:after {
    content: "\0020 \0020 \2234";
}
.p7PM3-03_crumbs.double-colon li:after {
   content: "\0020 \0020 \2237";
}
.p7PM3-03_crumbs.pipe li:after {
   content: "\0020 \0020 |";
}
.p7PM3-03_crumbs.dash li:after {
   content: "\0020 \0020 -";
}
.p7PM3-03_crumbs li:last-child:after {
	content: "\0020";
}

/*END BREADCRUMB RULES*/

 @media only screen and (min-width: 0px) and (max-width: 700px) {
.p7PM3-03.responsive:after {
	display: none;
}
.p7PM3-03.responsive .pmm3-toolbar {
	display: block;
	background-color: #222;
	padding: 10px;
	text-align: right;
	cursor: pointer;
}
.p7PM3-03.responsive .pmm3-toolbar a {
	font-size: 2em;
	font-weight: bold;
	color: #999;
	text-decoration: none;
}
.p7PM3-03.responsive .pmm3-toolbar a:hover {
	color: #FFF;
}
.p7PM3-03.responsive .toggle-text.closed a:before {
	content: "Show Menu \0020";
	font-size: .5em;
}
.p7PM3-03.responsive .toggle-text.opened a:before {
	content: "Hide Menu \0020";
	font-size: .5em;
}
.p7PM3-03.responsive {
	text-align: left !important;
	padding: 0px !important;
	box-shadow: none !important;
}
.p7PM3-03.responsive.vert ul {
	margin-top: 0px;
}
.p7PM3-03.responsive ul {
	display: block;
	padding: 0px;
}
.p7PM3-03.responsive ul li {
	float: none;
	margin: 0px;
	padding: 0px;
}
.p7PM3-03.responsive ul ul {
	position: static !important;
	width: auto;
	padding: 0px;
}
.p7PM3-03.responsive a:hover, 
.p7PM3-03.responsive a.pm3-link:hover {
	background-color: #222;
	color: #DDD;
}
.p7PM3-03.responsive ul ul li {
	padding: 0px;
}
.p7PM3-03.responsive .pmm3-title-bar {
	padding: 12px 18px;
}
.p7PM3-03.responsive ul ul a,
.p7PM3-03.responsive ul ul .pmm3-title-bar {
	padding-left: 24px;
}
.p7PM3-03.responsive ul ul ul a,
.p7PM3-03.responsive ul ul ul .pmm3-title-bar {
	padding-left: 32px;
}
.p7PM3.responsive ul.closed {
	display: none;
}
.p7PM3.responsive ul.opened {
	display: block;
}
.p7PM3.responsive.rounded,
.p7PM3.responsive.rounded * {
	border-radius: 0px !important;
}
.p7PM3.responsive.shadows * {
	box-shadow: none !important;
}
.p7PM3-03_crumbs {
	display: none;
}
.p7PM3-03_crumbs.show-mobile {
	display: block;
}

.p7PM3.responsive.select .pmm3-select-wrapper {
	display: block;
	padding: 10px;
}
.p7PM3.responsive.select select {
	width: 100%;
	font-size: 1em;
	padding: 4px;
}
.p7PM3.responsive.select .pmm3-toolbar {
	display: none;
}
.p7PM3.responsive.select ul {
	display: none;
}

/*Workaround for very old Android devices*/
.p7PM3-03 div {
	left: 0px !important;
	top: 0px !important;
}
/*End old Android workaround*/
}
